<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
    <form class="form" action="/process" method="post">
        <h1 class="title">Dojo Survey</h1>
        <label for="name">Name</label>
        <input type="text" name="name">
        <label for="location">Dojo Location:</label>
        <select class="form-select" name="location" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="Boise">Boise</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Mustafar">Mustafar</option>
        </select>
        <label for="favlang">Favorite Language:</label>
        <select class="form-select" name="favlang" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="JS">JS</option>
            <option value="Python">Python</option>
            <option value="Spanish">Spanish</option>
        </select>
        <textarea name="comments" cols="35" rows="15"></textarea>
        <input type="submit" value="Submit">


    </form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>